*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }
  body{  
    font-family: roboto;
    text-align: center;
  }
   
  .web-back-12{  
    min-height: 100%;
    background-image: url("Four\ Horsemen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .nav{
    background-color: rgb(185, 61, 16);
    min-height: 80px;
    width: 100%;
  }

  Label.logo{
    text-align: center;
    color: rgb(3, 55, 68);
    font-size: 350%;
    line-height: 100%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .web-back-12 ul li{
    text-transform: uppercase;
    background-color: rgb(225, 220, 126);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(225, 220, 126);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: inline-block;
    line-height: 200%;
    margin: auto;
    font-weight: bold;
    padding: 0 5%;
  }

  .menu-bar .fa{
    margin-right: 8px;
  }

  

  .sub-menu-1{
    display: none;
  }

  .menu-bar ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background: pink;
    margin-top:15px;
    margin-left:-15px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }

  .sub-menu-2{
    display: none;
  }

  .sub-menu-3{
    display: none;
  }

  .web-back-12 .paragraph{
    text-align: left;
  }
  
  .contactparagraph{
    border-style:dashed;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    line-height: 200%;
    margin: 0 25%;
    font-weight: bold;
    padding: 0 10px;
    text-align: left;
  }

  .socialmedia{
    border-style:dashed;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    line-height: 200%;
    margin: 0 25%;
    font-weight: bold;
    padding: 0 10px;
    text-align: left;
  }


  


