*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{  
    font-family: roboto;
    text-align: center;
  }
   
  .web-back-2{  
    min-height: 100%;
    background-color:rgb(33, 241, 234);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .logo-cryo-1{
    height:70px;
    width:75px;
  }

  .logo-cryo-2{
    height:70px;
    width:75px;
  }

  .cryo{
    padding: 0 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 45px;
  }

  .menu-bar ul li{
    text-transform: uppercase;
    background-color: rgb(11, 226, 219);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(11, 226, 219);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: bold;
    padding: 0 5%;
  }

  .sub-menu-1{
    display: none;
  }

  .menu-bar ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background: pink;
    margin-top:15px;
    margin-left:-15px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }

  .sub-menu-2{
    display: none;
  }

  .sub-menu-3{
    display: none;
  }

  .web-back-2 .paragraph{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    line-height: 20px;
    margin: 0 100px;
    font-weight: bold;
    text-align: center;
    
  }
  
  .cryoparagraph{
    border-style: dashed;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    line-height: 250%;
    margin: 0 15%;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
  }


  .cryolist ul li{
    text-transform: uppercase;
    background-color: rgb(11, 226, 219);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(11, 226, 219);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: inline-block;
    line-height: 50px;
    margin: 0px;
    font-weight: bold;
    padding: 0 29px;
  }


  .website{
    padding: 0px 25%;
    text-align: center;
    margin:0 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(0, 200, 194);
    background-color: rgb(0, 200, 194);
    height: 50px;
  }

  