*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montsterrat;
}
nav{
  background-image: "https://static.zerochan.net/Kamisato.Ayaka.full.3427751.jpg";
  height: 80px
}

