*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{  
    font-family: roboto;
    text-align: center;
  }
   
  .web-back-7{  
    min-height: 100%;
    background-color:red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .logo-pyro-1{
    height:60px;
    width:60px;
  }

  .logo-pyro-2{
    height:60px;
    width:60px;
  }

  .pyro{
    padding: 0 30%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 45px;
  }

  .menu-bar ul li{
    text-transform: uppercase;
    background-color: rgb(210, 10, 10);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(210, 10, 10);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-weight: bold;
    padding: 0 5%;
  }

  .web-back-7 .paragraph{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    line-height: 20px;
    margin: 0 100px;
    font-weight: bold;
    text-align: center;
    
  }
  
  .pyroparagraph{
    border-style: dashed;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    line-height: 250%;
    margin: 0 15%;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
  }


  .pyrolist ul li{
    text-transform: uppercase;
    background-color: rgb(210, 10, 10);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(210, 10, 10);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: inline-block;
    line-height: 50px;
    margin: 0 px;
    font-weight: bold;
    padding: 0 29px;
  }


  .website{
    padding: 0px 25%;
    text-align: center;
    margin:0 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(179, 0, 0);
    background-color: rgb(179, 0, 0);
    height: 50px;
  }

  

  