*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{  
    font-family: roboto;
    text-align: center;
  }
   
  .web-back{  
    min-height: 100%;
    background-image: url("Kamisato\ Ayaka\ Fanart.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .nav{
    background-color: rgb(185, 61, 16);
    min-height: 80px;
    width: 100%;
  }

  Label.logo{
    text-align: center;
    background-color: rgb(173, 87, 7);
    color: rgb(255, 232, 232);
    font-size: 50px;
    line-height: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .web-back ul li{
    text-transform: uppercase;
    background-color: rgb(246, 140, 161);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(246, 140, 161);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
    font-weight: bold;
    padding: 0 70px;
  }

  .menu-bar .fa{
    margin-right: 8px;
  }

  .sub-menu-1{
    display: none;
  }

  .menu-bar ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background: pink;
    margin-top:15px;
    margin-left:-15px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
  }

  .menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
  }

  .sub-menu-2{
    display: none;
  }

  .sub-menu-3{
    display: none;
  }

  .web-back .paragraph{
    border-style:dashed;
    border-width: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    line-height: 50px;
    margin: 0 400px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
  }

  .web-back .link{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-style: solid;
    margin:0 840px;
    border-width: 5px;
    border-color: rgb(0, 174, 116);
    background-color: rgb(0, 174, 116);
    height: 50px;
  }

  


