*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{  
    font-family: montsterrat;
  }
   
  .web-back{  
    min-height: 100%;
    background-image: url("Kamisato\ Ayaka\ Fanart.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }


